/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--selected-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fbfd !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --selected-font-color: var(--product-font-color);
  --product-font-color: #555a8f;
  --product-background: #ffffff;
  --primary-color-button-links: #4b0dba;
  --primary-text-icons: #262631;
  --clicked-state: #33028a;
  --body-text: #7a7a7a;
  --secondary-text: #93a4b7;
  --borders-inactive-buttons: #dedede;
  --header-background: #ede6f8;
  --borders-inactive-text: #cdced7;
  --title-background: #f7f5fc;
  --success-color: #04a65b;
 
  --error-color: #b60229;
  --delete-color: #ff6565;
}

td {
  overflow: hidden;
}

.containerDivider {
  border: 1px solid #dedede;
  width: 100%;
  opacity: 60%;
}

.btn {
  color: #fff; 
  background-color: #4b0dba; 
  width: 200px;
  height: 40px;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 40px; 
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f5fc;
}

::-webkit-scrollbar-thumb {
  background: #cdced7;
  border-radius: 50px;
}
.b:hover{
  background-color: #33028a;
  color: white;
}


